{% extends 'base.html.twig' %}

{% if app.user %}
    {% set title %}{{ 'title.my_account'|trans }}{% endset %}
{% else %}
    {% set title %}{{ 'title.register'|trans }}{% endset %}
{% endif %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container mt-5 px-0">
        <h1 class="d-inline-block">{{ title|trans }}</h1>
        {% if not app.user %}
            <a href="{{ url('account.login') }}" class="text-secondary d-inline-block">
                {{ 'action.already_have_an_account'|trans }}
            </a>
        {% endif %}
    </div>

    <div class="card container mx-auto pt-3">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
