{% extends 'base.html.twig' %}

{% if app.user %}
    {% set title %}{{ 'title.my_account'|trans }}{% endset %}
{% else %}
    {% set title %}{{ 'title.register'|trans }}{% endset %}
{% endif %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1 class="container mt-5 px-0">{{ title|trans }}</h1>

    <div class="card container mx-auto pt-3">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
