<div {{ attributes }}>
{% if not form.vars.data or not form.vars.data.uuid %}
    <button type="button" class="btn btn-primary"
    data-action="live#action"
    data-live-action-param="createLink"
>
        {{ 'button.create_link'|trans }}
    </button>
{% else %}
    uuid is: {{ form.vars.data.uuid }}
{% endif %}

{{ form_start(form) }}

{{ form_errors(form) }}

{{ form_end(form) }}
</div>
